name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run API tests
        run: |
          postman collection run "43350414-883a043b-5c27-4fc7-9298-42263e604cd8" --integration-id "182744-${{ github.run_id }}"
          # Lint your API using Postman CLI
          postman api lint 0dd2ef1b-6752-4488-853c-01ba9018eaaa --integration-id 182744
